
				<ul class="sidebar-title">
					<b>EcuapassDocs00</b>
				</ul>
				<ul class="sidebar-nav">
					{% if user.is_authenticated %}
						<li><a href="{% url 'index' %}">Inicio</a></li>										 
						<li>Usuario: {{ user.username }}</li>
						<li>Pais: {{ user.pais }}</li>
						<li>
							<form method="post" action="{% url 'logout' %}">
								{% csrf_token %}
								<button type="submit">Cerrar sesión</button>
							</form>
						</li>
					{% else %}
						<ul class="sidebar-nav">
						<li><a href="{% url 'index' %}">Inicio</a></li>										 
						<li><a href="{% url 'login'%}?next={{request.path}}">Iniciar sesión</a></li>
						</ul>
					{% endif %}
				</ul>

				{% if user.is_active %}
					<ul class="sidebar-nav">
						<b>Elaboración:</b>
						<li><a href="{% url 'cartaporte' %}{{ 'nuevo' }}" target="_blank">Nueva Carta de Porte</a></li>
						<li><a href="{% url 'manifiesto' %}{{ 'nuevo' }}" target="_blank">Nuevo Manifiesto</a></li>
						<li><a href="{% url 'declaracion' %}{{ 'nuevo' }}" target="_blank">Nueva Declaración</a></li>
					</ul>

					<ul class="sidebar-nav">								 
						<b>Consulta:</b>
						<li><a href="{% url 'cartaporte-listado' %}">Lista de Cartas de Porte</a></li>
						<li><a href="{% url 'manifiesto-listado' %}">Lista de Manifiestos</a></li>
						<li><a href="{% url 'declaracion-listado' %}">Lista Declaraciones</a></li>
						<hr>
						<li><a href="{% url 'clientes' %}">Lista de Clientes</a></li>
						<li><a href="{% url 'vehiculos' %}">Lista de Vehiculos</a></li>
						<li><a href="{% url 'conductors' %}">Lista de Conductores</a></li>
					</ul>

					{% if user.is_authenticated and user.es_director or user.is_staff %}
						<ul class="sidebar-nav">								 
							<b>Administración:</b>
							<li><a href="{% url 'usuarios' %}">Usuarios y Entidades</a></li>
							<li><a href="{% url 'reportes' %}">Reportes y Respaldos</a></li>
						</ul>
					{% endif %}  

					<hr>
					<ul class="sidebar-nav">
						<li><a href="{% url 'info_view' %}">Información de Contacto</a></li>
					</ul>
				{% endif %}  
				<hr>
